<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0"><!-- So that mobile webkit will display zoomed in -->
<meta name="format-detection" content="telephone=no"><!-- disable auto telephone linking in iOS -->

</head>
<body style="margin:0; padding:10px 0;" bgcolor="#ebebeb" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<br>
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#ebebeb">
<tr>
<td align="center" style="margin:0;padding:10px 0;background-color:#ebebeb">
	<table cellpadding="0" cellspacing="0" style="width:600px;background-color:#fff;font-size:13px;line-height:20px;font-family:Helvetica,sans-serif;color:#333">
		<thead><tr><th style="height:40px;background-color:#101010"></th></tr></thead>
		<tbody>
			<tr>
				<td style="padding:20px">
					<p style="font-size: 18px"><b>Dear $userName,</b></p>
					<p style="font-weight:bold">$header</p>
					<p>Clinic Service has received a password reset request for your account.</p>
					<p>Email:<a style="color:#336699;text-decoration:none"> $emailAddress</a></p>
					<p>Please <a target="_blank" href="$generateLink"> click  here </a>to generate a new password for your account otherwise disregard the email.</p>
				</td>
			</tr>
			<tr>
				<td style="padding:0 0 0 20px">
					Sincerely,<br>
					Clinic Service<br><br>
				</td>
			</tr>
			<tr>
                <td style="padding:0 0 20px 20px">
                    <img style="margin: 0; border: 0; padding: 0; display: block;" src="https://static.vecteezy.com/system/resources/previews/006/817/254/large_2x/creative-abstract-modern-clinic-hospital-logo-design-colorful-gradient-clinic-logo-design-free-vector.jpg" height="120" width="250">
                </td>
            </tr>
		</tbody>
		<tfoot>
			<tr>
				<td style="height:40px;background-color:#101010"></td>
			</tr>
		</tfoot>
	</table>
</td>
</tr>
</table>
</body>
</html>
